body{
    background-color:whitesmoke;
    background-image: url(./assets/img/base.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top,center;
    background-size: 550px;
    

}
h1{
    letter-spacing: 10px;
}
b{
    color:rosybrown;
}
#class{
text-align:center;
text-size-adjust:right;
}
h5{
    color: rosybrown;
    font-family: monospace;
}