body{
    background-image: url(./assets/img/code.jpg);
    background-color:aliceblue;
    background-image: url;
    background-size: cover;
    background-blend-mode: overlay;
}

.login{
    color: blue;
}

