body{
    background-image: url(./assets/img/code.jpg);
    background-color:aliceblue;
    background-image: url;
    background-size: cover;
    background-blend-mode: overlay;
}

.login{
    color: blue;
}
.log input{
    height: 50px;
    width: 150px;
    background-color: aliceblue;
    
}
input {
    border: none;
    border-bottom: 1px solid blue;
}

